 @import url(http://fr.allfont.net/allfont.css?fonts=economica);


body
{
    background-color:#FFFBE9;
    color:#FFA500;
    font-family: 'Economica', arial, Times new roman;
    font-size:15px;
    text-align:justify;
    margin-top: 20px;
}

.navbar {
	 font-family: 'Economica', arial, Times new roman;
}

[class*="col"] {
	margin-bottom: 20px;
}

img {
	width:100%;
}

.nav-link {
	color:#FFF0AD !important;
	font-size:25px;
}

.btn-primary {
	background-color:#FFA500 !important;
	color:#FFF0AD !important;
	border:none;
}

.btn-link {
	color:#FFA500 !important;
}


.card-body {
	background-color:#FFF1E9;
}

.card {
	border-color:#FFA500 !important; 
}

.card-header {
	border-color:#FFA500 !important;
	background-color:#FFF1E9 !important;
}
